<div class="modal fade" data-bind="css: size">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <!-- ko visible: displayTitle -->
        <h4 class="modal-title" data-bind="text: title"></h4>
        <!-- /ko -->
      </div>
      <!-- ko template: { nodes: $componentTemplateNodes } -->
      <!-- /ko -->
    </div>
  </div>
</div>