<div style="height: 100%;" layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z3"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-whiteframe-z2">
            <h1>Designco</h1>
        </md-toolbar>

        <md-list>
            <md-list-item ng-repeat="item in store.menuItems"
                ng-class="{ activeMenuItem : (store.activeMenuItem === item) }"
                ng-click="store.activeMenuItem = item">
                <md-button>
                    {{ item.title }}
                </md-button>
            </md-list-item>
        </md-list>

    </md-sidenav>



    <div flex layout="column" tabIndex="-1" role="main" class="md-whiteframe-z2">

        <md-toolbar layout="row" class="md-whiteframe-z1">
            <h1>Store</h1>
        </md-toolbar>

        <md-content flex id="content">
            <div style="margin: 16px; max-width: 864px;">
                <section layout-padding class="md-whiteframe-z1">
                    <md-list>
                        <md-subheader>Choose from {{ store.signs.length }} ready signs or make your own</md-subheader>
                        <md-list-item ng-repeat="sign in store.signs">
                            <p>{{ sign.title }}</p>
                        </md-list-item>
                    </md-list>
                </section>

                <section style="margin-top: 50px;" layout-padding class="md-whiteframe-z1">
                    <div layout-padding layout="row">
                        <md-select ng-model="sign" placeholder="sign">
                            <md-option ng-repeat="sign in store.signs">{{ sign.title }}</md-option>
                        </md-select>

                        <md-checkbox ng-model="disableAddSign" aria-label="enable adding a new sign">
                            <span>Add another sign</span>
                        </md-checkbox>

                        <div ng-show="disableAddSign">
                            <br>
                            <md-input-container>
                                <label>Add a new sign</label>
                                <input type="text" ng-model="addMeeee"/>
                            </md-input-container>

                            <md-button ng-click="store.signs.push({ title: addMeeee})">add sign</md-button>
                        </div>
                    </div>
                </section>
            </div>

        </md-content>

      </div>
</div>
